@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    margin: 0;
    height: 100vh;
    position: relative;
}

canvas {
    display: block;
}

.spawnMissileButtonContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#spawnMissileButton {
    position: relative;
    margin-bottom: 2em;
    padding: 0.5em 1.5em;

    font-family: "Rubik";
    font-size: 1.2em;
    font-weight: bold;
    color: #e5e5e5;
    border-radius: .2em;
    background-color: black;
    border: 3px solid black;
    box-shadow: 0 0 .3em black;
    transition: .4s;
    outline: none;
}
#spawnMissileButton:hover {
    background-color: transparent;
    color: red;
    border-color: red;
    box-shadow: 0 0 .3em red;
    text-shadow: 0 0 .5em black;
    cursor: pointer;
}
#spawnMissileButton:active {
    background-color: orange;
    box-shadow: 0 0 .5em yellow;
    color: yellow;
    border-color: yellow;
}